AppFiplasto/AppFiplasto.Android/Web References/WebServiceSpif/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.sistemasfiplasto.com.ar/wsspif" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.sistemasfiplasto.com.ar/wsspif" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.sistemasfiplasto.com.ar/wsspif">
      <s:element name="RemPendEnPieyProveedores">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="opcion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fecha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemPendEnPieyProveedoresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RemPendEnPieyProveedoresResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Hacheros">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Estructura" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HacherosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HacherosResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Rajadora">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fecha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RajadoraResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RajadoraResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Entrar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EntrarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EntrarResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsAuthenticated">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Domain" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsAuthenticatedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsAuthenticatedResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EntrarTelefono">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EntrarTelefonoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EntrarTelefonoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RemPendEnPieyProveedoresSoapIn">
    <wsdl:part name="parameters" element="tns:RemPendEnPieyProveedores" />
  </wsdl:message>
  <wsdl:message name="RemPendEnPieyProveedoresSoapOut">
    <wsdl:part name="parameters" element="tns:RemPendEnPieyProveedoresResponse" />
  </wsdl:message>
  <wsdl:message name="HacherosSoapIn">
    <wsdl:part name="parameters" element="tns:Hacheros" />
  </wsdl:message>
  <wsdl:message name="HacherosSoapOut">
    <wsdl:part name="parameters" element="tns:HacherosResponse" />
  </wsdl:message>
  <wsdl:message name="RajadoraSoapIn">
    <wsdl:part name="parameters" element="tns:Rajadora" />
  </wsdl:message>
  <wsdl:message name="RajadoraSoapOut">
    <wsdl:part name="parameters" element="tns:RajadoraResponse" />
  </wsdl:message>
  <wsdl:message name="EntrarSoapIn">
    <wsdl:part name="parameters" element="tns:Entrar" />
  </wsdl:message>
  <wsdl:message name="EntrarSoapOut">
    <wsdl:part name="parameters" element="tns:EntrarResponse" />
  </wsdl:message>
  <wsdl:message name="IsAuthenticatedSoapIn">
    <wsdl:part name="parameters" element="tns:IsAuthenticated" />
  </wsdl:message>
  <wsdl:message name="IsAuthenticatedSoapOut">
    <wsdl:part name="parameters" element="tns:IsAuthenticatedResponse" />
  </wsdl:message>
  <wsdl:message name="EntrarTelefonoSoapIn">
    <wsdl:part name="parameters" element="tns:EntrarTelefono" />
  </wsdl:message>
  <wsdl:message name="EntrarTelefonoSoapOut">
    <wsdl:part name="parameters" element="tns:EntrarTelefonoResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="RemPendEnPieyProveedores">
      <wsdl:input message="tns:RemPendEnPieyProveedoresSoapIn" />
      <wsdl:output message="tns:RemPendEnPieyProveedoresSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Hacheros">
      <wsdl:input message="tns:HacherosSoapIn" />
      <wsdl:output message="tns:HacherosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Rajadora">
      <wsdl:input message="tns:RajadoraSoapIn" />
      <wsdl:output message="tns:RajadoraSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Entrar">
      <wsdl:input message="tns:EntrarSoapIn" />
      <wsdl:output message="tns:EntrarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsAuthenticated">
      <wsdl:input message="tns:IsAuthenticatedSoapIn" />
      <wsdl:output message="tns:IsAuthenticatedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EntrarTelefono">
      <wsdl:input message="tns:EntrarTelefonoSoapIn" />
      <wsdl:output message="tns:EntrarTelefonoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RemPendEnPieyProveedores">
      <soap:operation soapAction="http://www.sistemasfiplasto.com.ar/wsspif/RemPendEnPieyProveedores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Hacheros">
      <soap:operation soapAction="http://www.sistemasfiplasto.com.ar/wsspif/Hacheros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Rajadora">
      <soap:operation soapAction="http://www.sistemasfiplasto.com.ar/wsspif/Rajadora" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Entrar">
      <soap:operation soapAction="http://www.sistemasfiplasto.com.ar/wsspif/Entrar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsAuthenticated">
      <soap:operation soapAction="http://www.sistemasfiplasto.com.ar/wsspif/IsAuthenticated" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EntrarTelefono">
      <soap:operation soapAction="http://www.sistemasfiplasto.com.ar/wsspif/EntrarTelefono" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RemPendEnPieyProveedores">
      <soap12:operation soapAction="http://www.sistemasfiplasto.com.ar/wsspif/RemPendEnPieyProveedores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Hacheros">
      <soap12:operation soapAction="http://www.sistemasfiplasto.com.ar/wsspif/Hacheros" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Rajadora">
      <soap12:operation soapAction="http://www.sistemasfiplasto.com.ar/wsspif/Rajadora" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Entrar">
      <soap12:operation soapAction="http://www.sistemasfiplasto.com.ar/wsspif/Entrar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsAuthenticated">
      <soap12:operation soapAction="http://www.sistemasfiplasto.com.ar/wsspif/IsAuthenticated" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EntrarTelefono">
      <soap12:operation soapAction="http://www.sistemasfiplasto.com.ar/wsspif/EntrarTelefono" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://www.sistemasfiplasto.com.ar/wsspif/service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://www.sistemasfiplasto.com.ar/wsspif/service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>